@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
  
  

<h1>Centric Consulting Employee Recognition System</h1>
<p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
<p><a href="https://asp.net" class="btn btn-primary btn-lg">Eventually will send recognition here &raquo;</a></p>>
 </div>
    <div class="row">
<div class="col-md-4">
       <h2>Learn more about Centric's Employee recognition program</h2>
            <p>
                     Eventually we will have details outlining Centric's employee recognition program displayed here with a link to more detailed information.
             
            </p>
           <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Recognition system info &raquo;</a></p>
            
        </div>
              <div class="col-md-4">
                        <h2>Check out employee leaderboards</h2>
                        <p>Eventually we will have developed an employee leaderboard where Centric employees can view recognition given to everyone in the company, and we will put a scoring system in place.</p>
                        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Leaderboards &raquo;</a></p>
            
        </div>
                <div class="col-md-4">
                       <h2>View your profile</h2>
                        <p>See your profile details and track previous recognition history</p>
                      <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Check out profile &raquo;</a></p>
            
        </div>
        </div>